@mixin box-sizing ($val) {
  -webkit-box-sizing: $val;
  -moz-box-sizing: $val;
  box-sizing: $val;
}

@mixin box-shadow ($val...) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  box-shadow: $val;
}

.auto-complete-wrapper {
  display: inline-block;
  position: relative;

  > .auto-complete {
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 7em;
    bottom: 8em;
    left: 0;
    width: 100%;
    @include box-sizing(border-box);
    background-color: rgba(255, 255, 255, 0.63);

    > .option {
      display: block;
      padding: 1em 3em 1em 1em;
      font-size: 2em;
      color: #000000;
      cursor: pointer;
      border-top: 1px solid #dbdbdb;
      font-weight: 900;
      background-color: #ffffff;
      box-sizing: border-box;
      position: relative;

      .sp-search-highlight {
        color: #606060;
        font-weight: normal;
      }

      .add-query {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0.5em;
        padding: 0 1em;

        img {
          max-height: 0.8em;
          max-width: 0.8em;
          vertical-align: 10%;
          display: inline-block;
        }
      }

      &.current {
        background-color: #F3F3F3;

        &:active {
          background-color: #E3E3E3;
        }
      }

      &:last-child {
        @include box-shadow(0 0.35em 0.5em 0 rgba(0, 0, 0, 0.24));
      }
    }
    > .filter-option {
      background-color: #f7f7f7;
    }
  }
}

.rtl {
  .auto-complete-wrapper > .auto-complete {
    direction: rtl;
    text-align: right;

    > .option {
      padding: 1em 1em 1em 3em;

      .add-query {
        left: 0;
        right: auto;

        img {
          transform:scale(-1,1);
          -webkit-transform:scale(-1,1);
          -moz-transform:scale(-1,1);
          -o-transform:scale(-1,1);
        }
      }
    }
  }
}